body {
    font-family: 'Lato', sans-serif;

}

.nav {
    padding: 1em 2em 0 0;
    display: flex;
    align-items: center;
}

.nav-header-section {
    background-color:
}

.static {
    display: flex;
    flex-direction: column;
}

.about-me-resume-section{
    background-color:
}

.about-me {
    height: 100vh;
    display: flex;
    align-items: center;
}

.projects {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 0 0 5em;
}

.contact {
    height: 100vh;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 1.5em 0 0 0;
}