a {
    text-align: center;
    text-decoration: none;
    padding: 1.5em 0 0 0;
    color: black;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fffdfc;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

li {
    color: black;
}

#certs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

#cert1:hover {
    color: rgb(6, 50, 87);
    font-size: 20px;
    font-weight: bolder;
}

#cert2:hover {
    color: rgb(6, 50, 87);
    font-size: 20px;
    font-weight: bolder;
}

#linkedin-tag {
    font-weight: bold;
}

#linkedin-tag:hover {
    color:rgb(6, 50, 87);
    font-size: 20px;
    font-weight: bolder;
}

#headshot {
    border-radius: 8%;
}

#hp-logo {
    background-color: white;
    border: solid black 5px;
    padding: 2px 2px 2px 2px;
}

#signature {
    font-size: 100px;
    letter-spacing: 0.4em;
    margin-bottom: 1em;
}

#red-badge-logo {
    background-color: white;
}

#resume:hover {
    color: rgb(6, 50, 87);
    font-size: 22px;
    font-weight: bolder;
}

#skills-connect-text {
    margin-bottom: 25px;
}

.about-me {
    height: 100vh;
    display: flex;
    align-items: center;
}

.certs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.connect-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
    height: 70vh;
}

.degree {
    font-size: 20px;
    line-height: .5em;
}

.footer {
    height: 8em;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-items {
    padding: 20px;
}

.form-wrapper {
    border: solid rgb(97, 95, 95) 2px;
    border-style: inset;
    padding: 20px 20px 20px 20px;
}

.header-links {
    padding: 3px;
}

.homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-section {
    margin: 0 0 15px 0;
}

.logo {
    padding: 14px 0 14px 0;
}

.nav {
    padding: 1em 2em 0 0;
    display: flex;
    align-items: center;
}

.nav-header-section {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.nav-link:hover {
    font-weight: bold;
}

.project-logos:hover {
    color: rgb(6, 50, 87);
    font-weight: bold;
}

.projects {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 0 0 5em;
}

.resume {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: -35px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10em 0 8em;
}

.static {
    display: flex;
    flex-direction: column;
}