a {
    text-align: center;
    text-decoration: none;
    padding: 1.5em 0 0 0;
    color: black;
}

body {
    font-family: 'Lato', sans-serif;

}

li {
    color: black;
}

#linked-in-tag {
    font-weight: bold;
}

#headshot {
    border-radius: 8%;
}

#resume {
    
}

.resume {
}

#signature {
    font-size: 100px;
    letter-spacing: 0.4em;
    margin-bottom: 1em;
}

#skills-connect-text {
    font-size: 20px;
    font-weight: bold;
}

.about-me {
    height: 100vh;
    display: flex;
    align-items: center;
}

.break {

}

.connect-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
    height: 70vh;
}

.degree {
    font-size: 20px;
    line-height: .5em;
}

.footer {
    height: 8em;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-items {
    padding: 20px;
}

.header-links {
    padding: 3px;
}

.homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-section {
    margin: 0 0 15px 0;
}

.logo {
    padding: 10px 0 10px 0;
}

.nav {
    padding: 1em 2em 0 0;
    display: flex;
    align-items: center;
}

.nav-header-section {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.nav-link:hover {
    font-weight: bold;
}

.project-logos:hover {
    color: rgb(4, 51, 4);
    font-weight: bold;
}

.projects {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 0 0 5em;
}

.resume {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: -35px;
}

#resume:hover {
    color: rgb(4, 51, 4);
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10em 0 8em;
}

.static {
    display: flex;
    flex-direction: column;
}